- current = 'admin_upload'
doctype html
html(lang='en')
  head
    include head.pug
    link(rel='stylesheet', href='stylesheets/admin_upload.css')
  body
    include nav.pug
    .container
      .page-header
        h1 Upload do boleto
      form(method='post', enctype='multipart/form-data').upload-file-container
        label Selecione o, arquivo
        input(type='file', name='boletos')
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Enviar

include import_scripts.pug
