meta(charset='utf-8', name='viewport', content='width=device-width, user-scalable=no')
if current == 'index'
	title Ivonete Online - Home
if current == 'admin_login'
	title Ivonete Online - Login do Admin
if current == 'admin_upload'
	title Ivonete Online - Upload do Admin
if current == 'boletos'
	title Ivonete Online - Boletos
if current == 'student_boletos'
	title Ivonete Online - Boletos do Estudante
if current == 'student_search'
	title Ivonete Online - Busca pelo Estudante
link(href='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css', rel='stylesheet')