- current = 'my_bills'
doctype html
html(lang='en')
  head
    include head.pug
  body
    include nav.pug
    .container
      .panel.panel-default
        .panel-heading
          h3
            | Boletos de: "#{student_name}"
        .panel-body
          if results.length > 0
            table.table.table-bordered
              thead
                tr
                  th Nome do aluno
              tbody
                each row_data in results
                  tr
                    td 
                      a(href='/student-boletos?student_name='+row_data.student_name) #{row_data.student_name}
          else
            p Nenhum aluno com esse nome foi encontrado em nosso banco de dados.
include import_scripts.pug
